@page "/"
@using Markdig;
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Everything below this is rendered using the sample-data/example.md</p>

@if (htmlContent is not null)
{
    @((MarkupString)htmlContent)
}

@code {
    private string? htmlContent;

    protected override async Task OnInitializedAsync()
    {
        string markdown = await Http.GetStringAsync($"sample-data/example.md?v={DateTime.UtcNow.Ticks}");
        htmlContent = Markdown.ToHtml(markdown); // Markdig does the conversion
    }
}
