name: Patch sample-data files on GitHub Pages

on:
  push:
    branches: [ master ]
    paths:
      - 'TestGithubPagesApp/wwwroot/sample-data/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  patch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v4

      # Upload only the sample-data folder as the artifact
      - name: Upload Pages artifact (sample-data only)
        uses: actions/upload-pages-artifact@v3
        with:
          path: TestGithubPagesApp/wwwroot/sample-data
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: patch
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
